<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu Lista de Pendientes</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        h1 {
            text-align: center;
            color: #333;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            background-color: #fff;
            margin: 8px 0;
            border: 1px solid #ccc;
            border-radius: 8px;
        }
        a {
            display: block;
            text-decoration: none;
            color: #333;
            padding: 10px 20px;
            font-size: 16px;
            transition: background-color 0.3s, color 0.3s;
        }
        a:hover {
            background-color: #5c67f2;
            color: #fff;
        }
    </style>
</head>
<body>
    <div>
        <h1>Menú Principal</h1>
        <ul>
            <li><a href="{% url 'todos-html-list' %}">Todos los Pendientes (Solo ID)</a></li>
            <li><a href="{% url 'todos-ID-title' %}">Todos los Pendientes (ID y Título)</a></li>
            <li><a href="{% url 'todos-ID-userid' %}">Todos los Pendientes (ID y UserID)</a></li>
            <li><a href="{% url 'todos-sinresolver-id-title' %}">Pendientes sin Resolver (ID y Título)</a></li>
            <li><a href="{% url 'todos-resueltos-id-title' %}">Pendientes Resueltos (ID y Título)</a></li>
            <li><a href="{% url 'todos-resueltos-id-userID' %}">Pendientes Resueltos (ID y UserID)</a></li>
            <li><a href="{% url 'todos-sinresolver-id-userID' %}">Pendientes sin Resolver (ID y UserID)</a></li>
        </ul><h1>Flores Canchola</h1>
        <h1> Kevin Gabriel 8A</h1>
    </div>
    
</body>
</html>
